@charset "UTF-8";

@font-face {
  font-family: "SourceSansPro-Light";
  src:url("/css/fonts/source-sans/SourceSansPro-Light.eot"); /* IE9 Compat Modes */
  src:url("/css/fonts/source-sans/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/css/fonts/source-sans/SourceSansPro-Light.woff") format("woff"), /* Modern Browsers */
    url("/css/fonts/source-sans/SourceSansPro-Light.ttf") format("truetype"), /* Safari, Android, iOS */
    url("/css/fonts/source-sans/SourceSansPro-Light.svg#d7a1b56ae5810651717e96b1d9c6c15f") format("svg"); /* Legacy iOS */
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SourceSansPro-SemiBold";
  src:url("/css/fonts/source-sans/SourceSansPro-SemiBold.eot");
  src:url("/css/fonts/source-sans/SourceSansPro-SemiBold.eot?#iefix") format("embedded-opentype"),
    url("/css/fonts/source-sans/SourceSansPro-SemiBold.woff") format("woff"),
    url("/css/fonts/source-sans/SourceSansPro-SemiBold.ttf") format("truetype"),
    url("/css/fonts/source-sans/SourceSansPro-SemiBold.svg#d7a1b56ae5810651717e96b1d9c6c15f") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro-ExtraLight';
  src: url('/css/fonts/source-sans/SourceSansPro-ExtraLight.eot'); /* IE9 Compat Modes */
  src: url('/css/fonts/source-sans/SourceSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/css/fonts/source-sans/SourceSansPro-ExtraLight.woff') format('woff'), /* Modern Browsers */
       url('/css/fonts/source-sans/SourceSansPro-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/css/fonts/source-sans/SourceSansPro-ExtraLight.svg#d7a1b56ae5810651717e96b1d9c6c15f') format('svg'); /* Legacy iOS */
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('/css/fonts/source-sans/SourceSansPro-Regular.eot'); /* IE9 Compat Modes */
  src: url('/css/fonts/source-sans/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/css/fonts/source-sans/SourceSansPro-Regular.woff') format('woff'), /* Modern Browsers */
       url('/css/fonts/source-sans/SourceSansPro-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/css/fonts/source-sans/SourceSansPro-Regular.svg#acb2ff9f1528a62353501911e112e2e2') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'SourceSans-Pro';
  src: url('/css/fonts/source-sans/SourceSansPro-Bold.eot'); /* IE9 Compat Modes */
  src: url('/css/fonts/source-sans/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/css/fonts/source-sans/SourceSansPro-Bold.woff') format('woff'), /* Modern Browsers */
       url('/css/fonts/source-sans/SourceSansPro-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/css/fonts/source-sans/SourceSansPro-Bold.svg#f59ec01e9ce984a5e7320939532a55f3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  normal;
}

@font-face {
  font-family: 'SourceSansPro-Black';
  src: url('/css/fonts/source-sans/SourceSansPro-Black.eot'); /* IE9 Compat Modes */
  src: url('/css/fonts/source-sans/SourceSansPro-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/css/fonts/source-sans/SourceSansPro-Black.woff') format('woff'), /* Modern Browsers */
       url('/css/fonts/source-sans/SourceSansPro-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/css/fonts/source-sans/SourceSansPro-Black.svg#daf12afc31dc3d4b43e1f5e66ac75d3d') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  normal;
}



